<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewApplicant"
      >Add Applicant</b-button
    >

    <b-modal
      id="modal-form-Applicant"
      ref="modal-form-Applicant"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="First Name"
          label-for="firstName"
          :invalid-feedback="invalidFeedbackFirstName"
          :valid-feedback="validFeedbackFirstName"
          :state="stateFristName"
        >
          <b-form-input
            id="firstName"
            v-model="form.firstName"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Last Name"
          label-for="lastName"
          :invalid-feedback="invalidFeedbackFirstName"
          :valid-feedback="validFeedbackFirstName"
          :state="stateFristName"
        >
          <b-form-input id="lastName" v-model="form.lastName" required>
          </b-form-input>
        </b-form-group>

        <b-form-group
          label="Gender"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="Birthday : "
          label-for="birthday"
          :invalid-feedback="invalidFeedbackBirthday"
          :valid-feedback="validFeedbackBirthday"
          :state="stateBirthday"
        >
          <b-form-datepicker
            id="birthday"
            :date-format-options="{
              day: 'numeric',
              month: 'numeric',
              year: 'numeric'
            }"
            locale="en"
            v-model="form.birthday"
          ></b-form-datepicker>
        </b-form-group>

        <b-form-group
          label="Nationality : "
          label-for="nationality"
          :invalid-feedback="invalidFeedbackNationality"
          :valid-feedback="validFeedbackNationality"
          :state="stateNationality"
        >
          <b-form-input
            id="nationality"
            v-model="form.nationality"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Tel : " label-for="tel">
          <b-form-input id="tel" v-model="form.tel" required></b-form-input>
        </b-form-group>
      </form>

      <b-form-group
        label="Address"
        label-for="address"
        :invalid-feedback="invalidFeedbackAddress"
        :valid-feedback="validFeedbackAddress"
        :state="stateAddress"
      >
        <b-form-input
          id="address"
          v-model="form.address"
          required
        ></b-form-input>
      </b-form-group>

      <!-- </form> -->

      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="applicantList" :fields="fields">
      <template v-slot:cell(operation)="dataApplicant">
        <b-button @click="editApplicant(dataApplicant.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="deleteApplicant(dataApplicant)"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import applicant2Service from './Applicant2Service'
export default {
  data () {
    return {
      title: 'Add new Applicant',
      form: {
        _id: '',
        id: -1,
        firstName: ' ',
        lastName: ' ',
        gender: null,
        birthday: '',
        nationality: '',
        tel: '',
        address: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'Male' },
        { value: 'F', text: 'Female' }
      ],
      applicantList: [],
      fields: [
        { key: 'firstname', label: 'Firstname' },
        { key: 'lastname', label: 'Lastname' },
        { key: 'gender', label: 'Gender' },
        { key: 'birthday', label: 'Birthday' },
        { key: 'nationality', label: 'Nationality' },
        { key: 'tel', label: 'Tel' },
        { key: 'address', label: 'Address' },
        { key: 'Operation', label: 'Operation' }
      ]
    }
  },
  methods: {
    getapplicant2 () {
      axios
        .get('http://localhost:3000/applicant')
        .then(res => {
          this.applicantList = res.data
        })
        .catch(err => {
          console.log(err)
        })

      // this.applicantList = applicant2Service.getapplicant2()
    },

    addNewApplicant () {
      console.log('Add new applicant')
      this.$bvModal.show('modal-form-Applicant')
    },
    editApplicant (applicant) {
      console.log('Edit ')
      console.log(applicant)
      this.title = 'Edit applicant data'
      this.form = { ...applicant }
      this.$bvModal.show('modal-form-Applicant')
    },
    deleteApplicant (applicant) {
      console.log('Del ')
      console.log(applicant.item.firstName)
      // this.deleteUser(user)
      this.$bvModal
        .msgBoxConfirm(
          'Please confirm that you want to delete ' +
            applicant.item.firstName +
            ' ' +
            applicant.item.lastName +
            ' !',
          {
            title: 'Please Confirm',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/applicant/' + applicant.item._id)
              .then(res => {
                console.log(res)
                this.getapplicant2()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        firstName: '',
        lastName: '',
        gender: null,
        birthday: '',
        Nationality: '',
        tel: '',
        address: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Exit when the form isn't valid
      if (
        this.stateFirstName === false ||
        this.stateLastName === false ||
        this.stateGender === false ||
        this.stateBirthday === false ||
        this.stateNationality === false ||
        this.stateTel === false ||
        this.stateAddress === false
      ) {
        return
      }
      // Push the name to submitted names
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/applicant/', this.form)
          .then(res => {
            console.log(res)
            this.getapplicant2()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/applicant', this.form)
          .then(res => {
            console.log(res)
            this.getapplicant2()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-Applicant')
      })
    },
    mounted () {
      console.log('Vue is mounted')
      this.getapplicant2()
    }
  },
  computed: {
    stateFristName () {
      return this.form.firstName.length >= 2
    },
    invalidFeedbackFirstName () {
      if (this.form.firstName.length > 2) {
        return ''
      } else if (this.form.firstName.length > 0) {
        return 'Enter at least 2 characters.'
      } else {
        return 'Please enter your first name'
      }
    },
    validFeedbackFirstName () {
      return this.stateFristName === true ? 'Complete' : ''
    },
    statetLastName () {
      return this.form.lastName.length >= 2
    },
    invalidFeedbackLastName () {
      if (this.form.lastName.length > 2) {
        return ''
      } else if (this.form.lastName.length > 0) {
        return 'Enter at least 2 characters.'
      } else {
        return 'Please enter your first name'
      }
    },
    validFeedbackLastName () {
      return this.statetLastName === true ? 'Complete' : ''
    },

    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'Please Select one'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'Complete' : ''
    },
    //   // stateTel () {
    //   //   return this.form.tel.length === 10
    //   // },
    //   // invalidFeedbackTel () {
    //   //   if (this.form.tel.length > 0) {
    //   //     return 'Enter at least 10 characters.'
    //   //   } else if (this.form.tel.length === 0) {
    //   //     return 'Please enter your telephone.'
    //   //   }
    //   //   return ''
    //   // },
    //   // validFeedbackTel () {
    //   //   return this.stateTel === true ? 'Complete' : ''
    //   // },
    //   // // วันเกิดstateBirthday () {
    stateNationality () {
      return this.form.nationality.length !== 0
    },
    invalidFeedbackNationality () {
      if (this.form.nationality.length > 0) {
        return 'Enter Nationality.'
      } else if (this.form.nationality.length === 0) {
        return 'Please enter your Nationality.'
      }
      return ''
    },
    validFeedbackNationality () {
      return this.stateNationality === true ? 'Complete' : ''
    },
    stateBirthday () {
      return (
        this.form.birthday.length === 10 &&
        this.form.birthday[4] === '-' &&
        this.form.birthday[7] === '-'
        // can't validate current date
      )
    },
    invalidFeedbackBirthday () {
      if (this.form.birthday.length === 10) {
        if (this.form.birthday[4] === '-' && this.form.birthday[7] === '-') {
          return ''
        }
        return "Please enter this format 'YYYY-MM-DD'"
      } else if (this.form.birthday.length > 0) {
        return "Please enter this format 'YYYY-MM-DD'"
      } else if (this.form.birthday.length === 0) {
        return 'Please enter your birthday.'
      }
      return ''
    },
    validFeedbackBirthday () {
      return this.stateBirthday === true ? 'Complete' : ''
    },
    stateAddress () {
      return this.form.address.length !== 0
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 0) {
        return 'Enter Address.'
      } else if (this.form.address.length === 0) {
        return 'Please enter your Address.'
      }
      return ''
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'Complete' : ''
    }
  },
  mounted () {
    // console.log('Vue is mounted')
    this.getapplicant2()
  }
}
</script>
