<template>
  <div>
    <b-container>
    <b-card id="card">
      <b-card-header class="pt-4" id="header">
        <b-card-title>สมัครสมาชิกสำหรับบริษัท</b-card-title>
      </b-card-header>

      <b-card-body>
        <b-row class="my-1">
          <b-col sm="6">
            <b-form-group id="name" label="ชื่อผู้ใช้งาน: " label-align-sm="right" label-for="form-name" label-cols-sm="3"
            :valid-feedback="validFeedbackName"
            :invalid-feedback="invalidFeedbackName"
            :state="stateName"
            >
              <b-form-input id="name" size="md" placeholder="ชื่อผู้ใช้งาน" required></b-form-input>
            </b-form-group>
          </b-col>

          <b-col class="img">
            <b-form-group label="อัพโหลดรูปภาพ: " label-align-sm="right" label-for="form-name" label-cols-sm="3">
              <b-input-group>
                <b-input-group-prepend is-text>
                  <b-icon icon="image-fill"></b-icon>
                </b-input-group-prepend>
                <b-form-file id="form-image" :disabled="busy" accept="image/*"></b-form-file>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="6">
            <b-form-group id="lbaddress" label="รหัสผ่าน: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-input id="address" size="" placeholder="รหัสผ่าน" required></b-form-input>
            </b-form-group>
          </b-col>

          <b-col sm="6">
            <b-form-group id="lbaddress" label="ที่อยู่: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-input id="address" size="" placeholder="ที่อยู่" required></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="6">
            <b-form-group id="Repassword" label="ยืนยันรหัสผ่าน: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-input id="Repassword" size="" placeholder="ยืนยันรหัสผ่าน" required></b-form-input>
            </b-form-group>
          </b-col>

          <b-col sm="6">
            <b-form-group id="province" label="จังหวัด: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
            <b-form-select v-model="selected" :options="province" size="md" id="select">
            <b-form-select-option :value="null" disabled>-- กรุณาเลือกจังหวัด --</b-form-select-option>
          </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="6">
            <b-form-group id="email" label="Email: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-input id="email" size="" placeholder="Email" required></b-form-input>
            </b-form-group>
          </b-col>
          <br><br>

          <b-col sm="6">
            <b-form-group id="district" label="เขต/อำเภอ: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
            <b-form-select v-model="selected" :options="district" size="md" id="select">
            <b-form-select-option :value="null" disabled>-- เขต/อำเภอ --</b-form-select-option>
          </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="6">
            <b-form-group id="nameCom" label="ชื่อบริษัท: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-input id="nameCom" size="" placeholder="ชื่อบริษัท" required></b-form-input>
            </b-form-group>
          </b-col>

           <b-col sm="6">
            <b-form-group id="sub-district" label="แขวง/ตำบล: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
            <b-form-select v-model="selected" :options="sub-district" size="md" id="select">
            <b-form-select-option :value="null" disabled>-- แขวง/ตำบล --</b-form-select-option>
          </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="6">
            <b-form-group id="business" label="ลักษณะธุรกิจ: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
            <b-form-select v-model="selected" :options="business" size="md" id="select">
            <b-form-select-option :value="null" disabled>-- กรุณาเลือกลักษณะธุรกิจ --</b-form-select-option>
            </b-form-select>
            </b-form-group>
          </b-col>

          <b-col sm="6">
              <b-form-group id="zipCode" label="รหัสไปรษณีย์: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-select v-model="selected" :options="zipcode" size="md" id="select">
              <b-form-select-option :value="null" disabled>-- รหัสไปรษณีย์ --</b-form-select-option>
              </b-form-select>
              </b-form-group>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="6">
            <b-form-group id="security" label="สวัสดิการ: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-textarea
              id="security"
              placeholder="สวัสดิการ"
            ></b-form-textarea>
            </b-form-group>
          </b-col>

          <b-col sm="6">
            <b-form-group id="website" label="Website: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-input id="website" size="" placeholder="Website" required></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="6">
            <b-form-group id="contactname" label="ชื่อผู้ติดต่อ: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-input id="contactname" size="" placeholder="ชื่อผู้ติดต่อ" required></b-form-input>
            </b-form-group>
          </b-col>

          <b-col sm="6">
            <b-form-group id="facebook" label="Facebook: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-input id="facebook" size="" placeholder="Facebook" required></b-form-input>
            </b-form-group>
          </b-col>

        </b-row>
        <b-row class="my-1">
           <b-col sm="6">
            <b-form-group id="register" label="ทะเบียนบริษัท: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-input id="register" size="" placeholder="ทะเบียนบริษัท" required></b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-btn>เรียกดู</b-btn>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="6">
            <b-form-group id="register" label="รายละเอียดธุรกิจ: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-textarea
              id="details"
              placeholder="รายละเอียดธุรกิจ"
            ></b-form-textarea>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="6">
            <b-form-group id="tel" label="เบอร์โทรศัพท์: " label-align-sm="right" label-for="form-image" label-cols-sm="3">
              <b-form-input id="tel" size="" placeholder="เบอร์โทรศัพท์" required></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>

        <b-navbar-nav class="float-right">
            <b-nav-form>
              <b-button variant="secondary" class="mr-4" id="btnregister">สมัครสมาชิก</b-button>
            </b-nav-form>
        </b-navbar-nav>
      </b-card-body>
    </b-card>
    </b-container>
  </div>
</template>

<script>
// import companyService from './CompanyService'
// import axios from 'axios'
export default {
  data () {
    return {
      selected: null,
      province: [
        { value: 'A', text: 'ชลบุรี' },
        { value: 'B', text: 'กรุงเทพมหานคร' },
        { value: 'C', text: 'พระนครศรีอยุธยา' },
        { value: 'D', text: 'ระยอง' }
      ],
      business: [
        { value: 'A', text: 'ธุรกิจการกระดาษ/เครื่องเขียน' },
        { value: 'B', text: 'ธุรกิจการเกษตร' },
        { value: 'C', text: 'ธุรกิจการพิมพ์/สิ่งพิมพ์' },
        { value: 'D', text: 'ธุรกิจเพื่อการศึกษา' },
        { value: 'E', text: 'ธุรกิจขนส่ง' },
        { value: 'F', text: 'ธุรกิจคอมพิวเตอร์/IT' }
      ]
    }
  }
  // },
  // methods: {
  //   handleSubmit () {
  //     // Check Validate
  //     if (
  //       this.stateName === false
  //     ) {
  //       return
  //     }
  //     if (this.form._name !== '') {
  //       this.updateCompany(this.form)
  //     }
  //   }
  // },
  // computed: {
  //   stateName () {
  //     return this.form.name.length >= 2
  //   },
  //   invalidFeedbackName () {
  //     if (this.form.name.length > 2) {
  //       return ''
  //     } else if (this.form.name.length > 0) {
  //       return 'ต้องมีชื่อผู้ใช้งานอย่างน้อย 2 ตัวอักษร'
  //     } else {
  //       return 'ต้องใส่ชื่อผู้ใช้งาน'
  //     }
  //   },
  //   validFeedbackName () {
  //     return this.stateName === true ? 'สำเร็จ' : ''
  //   }
  // },
  // mounted () {
  //   console.log('vue component is mounted')
  //   this.getCompany()
  // }
}
</script>
<style>
.form form{
  width: 450px;
  margin-right: 30px;
}
#header{
  text-align: center;
}
#card{
  margin-top: 40px;
}
#btnregister{
  width: 420px;
}
</style>
