<template>
  <div>
  <b-navbar toggleable="lg" type="white" variant="dark">
    <b-navbar-brand href="/">
      <img src="https://www.img.in.th/images/aa9391054134e251c3ae35deb7bbab8e.png" width="100 px" height="60px" class="d-inline-block align-top" alt="Logo">
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav type="dark">
        <b-nav-item active><router-link to="/">Home</router-link></b-nav-item>
        <b-nav-item><router-link to="/admin">Admin</router-link></b-nav-item>
        <b-nav-item active><router-link to="/ApplicantNon">ApplicantNon</router-link></b-nav-item>
        <b-nav-item active><router-link to="/Applicant2">ApplicantPae</router-link></b-nav-item>
        <b-nav-item active><router-link to="/companies">Companies</router-link></b-nav-item>
        <b-nav-item active><router-link to="/register">Register Company</router-link></b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <!-- <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form> -->

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <em>Company</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Change Password</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>
<style>

</style>
